<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcessRegister</servlet-name>
        <servlet-class>controller.ProcessRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRegister</servlet-name>
        <servlet-class>controller.ConfirmRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogin</servlet-name>
        <servlet-class>controller.ProcessLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessLogout</servlet-name>
        <servlet-class>controller.ProcessLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>controller.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>controller.GetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductList</servlet-name>
        <servlet-class>controller.GetProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductDetail</servlet-name>
        <servlet-class>controller.GetProductDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderList</servlet-name>
        <servlet-class>controller.GetOrderList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSalesReport</servlet-name>
        <servlet-class>controller.GetSalesReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStatus</servlet-name>
        <servlet-class>controller.EditStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderStatus</servlet-name>
        <servlet-class>controller.GetOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessStaffLogin</servlet-name>
        <servlet-class>controller.ProcessStaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStaff</servlet-name>
        <servlet-class>controller.addStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStaff</servlet-name>
        <servlet-class>controller.updateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStaff</servlet-name>
        <servlet-class>controller.deleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStaffLists</servlet-name>
        <servlet-class>controller.getStaffLists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStaff</servlet-name>
        <servlet-class>controller.getStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStaffProfile</servlet-name>
        <servlet-class>controller.getStaffProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepw</servlet-name>
        <servlet-class>controller.changepw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomer</servlet-name>
        <servlet-class>controller.addCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomer</servlet-name>
        <servlet-class>controller.deleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomer</servlet-name>
        <servlet-class>controller.getCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCustomerLists</servlet-name>
        <servlet-class>controller.getCustomerLists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCustomer</servlet-name>
        <servlet-class>controller.updateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomerProfile</servlet-name>
        <servlet-class>controller.GetCustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeuserpwd</servlet-name>
        <servlet-class>controller.changeuserpwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCart</servlet-name>
        <servlet-class>controller.AddtoCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCartProdQty</servlet-name>
        <servlet-class>controller.addCartProdQty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>minusCartProdQty</servlet-name>
        <servlet-class>controller.minusCartProdQty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCartProd</servlet-name>
        <servlet-class>controller.deleteCartProd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCartLists</servlet-name>
        <servlet-class>controller.getCartLists</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOrders</servlet-name>
        <servlet-class>controller.addOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCartDetails</servlet-name>
        <servlet-class>controller.getCartDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustGetStatus</servlet-name>
        <servlet-class>controller.CustGetStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>controller.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadingInitServlet</servlet-name>
        <servlet-class>controller.LoadingInitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessRegister</servlet-name>
        <url-pattern>/ProcessRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRegister</servlet-name>
        <url-pattern>/ConfirmRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogin</servlet-name>
        <url-pattern>/ProcessLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessLogout</servlet-name>
        <url-pattern>/ProcessLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/GetProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductList</servlet-name>
        <url-pattern>/GetProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductDetail</servlet-name>
        <url-pattern>/GetProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderList</servlet-name>
        <url-pattern>/GetOrderList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSalesReport</servlet-name>
        <url-pattern>/GetSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStatus</servlet-name>
        <url-pattern>/EditStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderStatus</servlet-name>
        <url-pattern>/GetOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessStaffLogin</servlet-name>
        <url-pattern>/ProcessStaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStaff</servlet-name>
        <url-pattern>/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStaff</servlet-name>
        <url-pattern>/updateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStaff</servlet-name>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStaffLists</servlet-name>
        <url-pattern>/getStaffLists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStaff</servlet-name>
        <url-pattern>/getStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStaffProfile</servlet-name>
        <url-pattern>/getStaffProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepw</servlet-name>
        <url-pattern>/changepw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomer</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomer</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomer</servlet-name>
        <url-pattern>/getCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCustomerLists</servlet-name>
        <url-pattern>/getCustomerLists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCustomer</servlet-name>
        <url-pattern>/updateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerProfile</servlet-name>
        <url-pattern>/GetCustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeuserpwd</servlet-name>
        <url-pattern>/changeuserpwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCart</servlet-name>
        <url-pattern>/AddtoCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCartProdQty</servlet-name>
        <url-pattern>/addCartProdQty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>minusCartProdQty</servlet-name>
        <url-pattern>/minusCartProdQty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCartProd</servlet-name>
        <url-pattern>/deleteCartProd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCartLists</servlet-name>
        <url-pattern>/getCartLists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOrders</servlet-name>
        <url-pattern>/addOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCartDetails</servlet-name>
        <url-pattern>/getCartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustGetStatus</servlet-name>
        <url-pattern>/CustGetStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/InitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadingInitServlet</servlet-name>
        <url-pattern>/LoadingInitServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
